p.b1 {
  border: 5px dotted;
  border-color: red;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

p.b2 {
  border: 3px dashed;
  padding: 3px;
}

p.b3 {
  border-style: solid;
  padding-top: 30px;
  padding-bottom: 10px;
}

p.b4 {
  border-style: double;
  border-left-style: solid;
  border-right-style: solid;
}

p.b5 {
  border-style: groove;
}

p.b6 {
  border: 8px ridge;
  padding: 8px;
}

p.b7 {
  border: 5px inset;
  padding-left: 5%;
}

p.b8 {
  border: 5px outset;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}
