body{
    margin: 0;
    background-image:url('wpp.jpeg');
    background-size: 1920px 1080px
}

h1.principal{
     color:#065693;
     text-align:center;
}
 h1.secundario{
     color:black;
     text-align:left;
}
h1{
background-color:#6495ed;
}

p{
     color:#46A8E7;
     text-align:left;
     background-color:#073A59;
}
}
 #paral{
     color:red;
     text-align:center;
}
 body{
 background-color: #b0c4de;
 }
